<%- include('head'); %>

  <h3 style="text-align: center;">ユーザー管理</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>password123</td>
        <td><form action="/edit/1" method="get"><input type="submit" class="edit" value="編集"></form></td>
        <td><form action="/delete/1" method="post"><input type="submit" class="delete" value="削除"></form></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jane Smith</td>
        <td>jane.smith@example.com</td>
        <td>secure456</td>
        <td><form action="/edit/2" method="get"><input type="submit" class="edit" value="編集"></form></td>
        <td><form action="/delete/2" method="post"><input type="submit" class="delete" value="削除"></form></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Michael Brown</td>
        <td>michael.brown@example.com</td>
        <td>mypassword789</td>
        <td><form action="/edit/3" method="get"><input type="submit" class="edit" value="編集"></form></td>
        <td><form action="/delete/3" method="post"><input type="submit" class="delete" value="削除"></form></td>
      </tr>
    </tbody>
  </table>
  </body>

  </html>