<%- include('head'); %>

    <div class="main">
      <div class="main_input">
        <h3>Node-beginnerTest</h3>
        <p><button type="button" onclick="location.href='/userform'" style="width: 300px;">ユーザー登録</button></p>
        <p><button type="button" onclick="location.href='/admin'" style="width: 300px;">管理者ページ</button></p>
    </div>
    </div>
  </body>
</html>